<template id="btn-table-opc">
    <div class="btn-group dropdown">
        <button aria-expanded="false" class="btn btn-outline-primary btn-xs dropdown-toggle" data-toggle="dropdown" type="button">
            Opciones
            <span class="caret">
            </span>
            <span class="sr-only">
                Toggle Dropdown
            </span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a class="view" href="#" id="%id%">
                    <div class="media">
                        <div class="media-left">
                            <span class="icon icon-user-plus icon-lg icon-fw">
                            </span>
                        </div>
                        <div class="media-body">
                            <span class="d-b">
                                Paciente
                            </span>
                            <small>
                                Información del paciente.
                            </small>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="//asis.hm.med.ec/menu?consola=asiscontrol&id=%id%">
                    <div class="media">
                        <div class="media-left">
                            <span class="icon icon-link icon-lg icon-fw">
                            </span>
                        </div>
                        <div class="media-body">
                            <span class="d-b">
                                Iniciar App
                            </span>
                            <small>
                                Iniciar Sesión.
                            </small>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</template>
<template id="ver-paciente">
    <div class="col-md-12 m-t">
        <div class="panel m-b-lg">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a aria-expanded="true" data-toggle="tab" href="#home-11">
                        Home
                    </a>
                </li>
                <li class="">
                    <a aria-expanded="false" data-toggle="tab" href="#profile-11">
                        Profile
                    </a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Dropdown
                        <b class="caret">
                        </b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a data-toggle="tab" href="#dropdown-11" tabindex="-1">
                                @fat
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#dropdown-12" tabindex="-1">
                                @mdo
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="home-11">
                    <p>
                        <p>
                            <button class="btn btn-outline-primary btn-xs back">
                                Back PAGE %id%
                            </button>
                        </p>
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                    </p>
                    <p>
                        Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                    </p>
                </div>
                <div class="tab-pane fade" id="profile-11">
                    <p>
                        Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
                    </p>
                    <p>
                        Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park
                    </p>
                </div>
                <div class="tab-pane fade" id="dropdown-11">
                    <p>
                        Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
                    </p>
                    <p>
                        Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
                    </p>
                </div>
                <div class="tab-pane fade" id="dropdown-12">
                    <p>
                        Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                    </p>
                    <p>
                        Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<template id="editar-paciente">
    <div class="col-md-12 m-t">
        <div class="panel m-b-lg">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a aria-expanded="true" data-toggle="tab" href="#home-11">
                        Home
                    </a>
                </li>
                <li class="">
                    <a aria-expanded="false" data-toggle="tab" href="#profile-11">
                        Profile
                    </a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Dropdown
                        <b class="caret">
                        </b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a data-toggle="tab" href="#dropdown-11" tabindex="-1">
                                @fat
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#dropdown-12" tabindex="-1">
                                @mdo
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="home-11">
                    <p>
                        <p>
                            <a class="btn btn-outline-primary btn-xs back">
                                PAGE %id%
                            </a>
                        </p>
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                    </p>
                    <p>
                        Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                    </p>
                </div>
                <div class="tab-pane fade" id="profile-11">
                    <p>
                        Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
                    </p>
                    <p>
                        Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park
                    </p>
                </div>
                <div class="tab-pane fade" id="dropdown-11">
                    <p>
                        Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
                    </p>
                    <p>
                        Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
                    </p>
                </div>
                <div class="tab-pane fade" id="dropdown-12">
                    <p>
                        Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                    </p>
                    <p>
                        Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
